

.siteBackground{
    background-color: pink;
}

.center{
   
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}

.buttonYesCenter{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.buttonNoCenter{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: bold;
}